<!DOCTYPE html>
<html>
<head>
    <title>Cart</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

{% include 'navbar.html' %}

<div class="cart-page">
    <h1>Your Cart</h1>

    {% if cart %}
        {% for key, item in cart.items %}
        <div class="cart-item">
            <div>
                <h3>{{ item.name }}</h3>
                <p>₹ {{ item.price }}</p>
                <p>Subtotal: ₹ {{ item.subtotal }}</p>
            </div>

            <div class="qty-box">
                <a href="{% url 'decrease_quantity' key %}">-</a>
                <span>{{ item.quantity }}</span>
                <a href="{% url 'increase_quantity' key %}">+</a>
            </div>

            <a class="remove-btn" href="{% url 'remove_from_cart' key %}">Remove</a>
        </div>
        {% endfor %}

        <h2>Total: ₹ {{ total }}</h2>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
</div>

</body>
</html>